.title {
    text-align: center;
}
body {
    background-color: #9775AA;
    color: var(--text-color1);
}
.caption {
    color: rgba(217, 209, 247, 0.986);
    font-size: 4rem;
}
p {
    color: azure;
    font-size: 2rem;
}
.box {
    height: 300px;
    width: 300px;
    border: 2px solid black;
    display: block;
    margin: 0 auto;
    overflow: hidden;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li  {
    float: right;
    margin-right: 1.5rem;
    margin-bottom: 0;
    font-size: 1.5rem;
    color: azure;
  }

  li:last-child {
  border-right: none;
}
  
  li  a {
    display: block;
    color: var(--main-text-color);
    text-align: center;
    padding: 0.5rem;
    text-decoration: none;
  }
  
  li  a:hover {
    background-color: lightblue;
    color: darkslategrey;
  }

#portrait {
  height: 400px;
  
}
