* {
  box-sizing: border-box;
  /*border: 2px solid black;*/
}

body {
    background-color: #9775AA;
}

h1, h3, p {
  text-align: center;
  padding: 10px;
}

.caption {
    color: rgba(217, 209, 247, 0.986);
    font-size: 2rem;
}

.aboutMessage {
  background-color: #815699;
  width: fit-content;
  display: block;
  margin: 0 auto;
}

p {
    display: block;
    margin: 0 auto;
    color: azure;
    font-size: 1.5rem;
    max-width: 50%;
    min-width: 300px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li  {
    float: right;
    margin-right: 1.5rem;
    margin-bottom: 0;
    font-size: 1.5rem;
    color: azure;
  }

  li:last-child {
  border-right: none;
}
  
  li  a {
    display: block;
    color: var(--main-text-color);
    text-align: center;
    padding: 0.5rem;
    text-decoration: none;
  }
  
  li  a:hover {
    background-color: lightblue;
    color: darkslategrey;
  }

